extends layout

block content
  h1= title
  p Welcome to #{title}
  h2
    if loggedin
      | You are logged in 
      form(action='/logout' method="POST") 
        input(type="submit" value="logout") 
    else
      a(href='/login') login
