.responsive-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  /* border: 1px solid white; */
}

.section-gap {
  margin-top: 6rem;
}

@media (min-width: 320px) {
  .responsive-container {
    max-width: 320px;
  }
}

@media (min-width: 375px) {
  .responsive-container {
    max-width: 375px;
  }
}

@media (min-width: 425px) {
  .responsive-container {
    max-width: 425px;
  }
}

@media (min-width: 630px) {
  .responsive-container {
    max-width: 630px;
  }
}

@media (min-width: 768px) {
  .responsive-container {
    max-width: 768px;
  }

  .section-gap {
    /* margin-top: 10rem; */
  }
}

@media (min-width: 1024px) {
  .responsive-container {
    max-width: 1024px;
  }
}

@media (min-width: 1268px) {
  .responsive-container {
    max-width: 1268px;
  }
}

@media (min-width: 1536px) {
  .responsive-container {
    max-width: 1536px;
  }

  .section-gap {
    /* margin-top: 18rem; */
  }
}
